[2018-02-17 19:57] #425 closed

[2018-02-17 21:01] mattbrictson commented on #432
Agreed 👍

[2018-02-20 18:03] lcreid opened #437 "No need to add `disabled` class to disabled radio button."
We add the `disabled` class to disabled radio buttons, but not check boxes. [This](https://www.bootply.com/HKHhdyqLYD) shows that it doesn't seem to be needed. Having `disabled="disabled"` in the input is enough for Bootstrap 4 to format things correctly.

Removing the class would make the HTML more consistent across control types, and would make the code to implement the controls slightly less co

[2018-02-21 15:59] #432 closed

[2018-02-21 19:56] lcreid commented on #396
I think the intent of PR #367 was good, but I agree with the others that matching on `/btn/` doesn't meet the intent.

To get the Bootstrap 4 alpha out the door, I suggest we remove the check for `/btn/` and simply document that the user needs to manually wrap text. Once we get alpha out, I think the suggestion at https://github.com/bootstrap-ruby/bootstrap_form/issues/396#issue-290116077 is good.

[2018-02-21 21:10] lcreid commented on #428
The Bootstrap [documentation for input groups](https://getbootstrap.com/docs/4.0/components/input-group/) implies that input groups can wrap `input` tags, custom selects, and custom file input, but not the browser default versions of selects and file inputs.

[2018-02-21 23:37] GBH commented on #396
I fixed by changing API like so:

[code]

By default it will wrap text in the `input-group-text`. If it's sent in as a hash, it doesn't wrap it.

[2018-02-23 17:05] #416 closed

[2018-02-23 17:05] #426 closed

[2018-02-23 17:05] #395 closed

[2018-02-23 17:05] #417 closed

[2018-02-25 16:49] lcreid opened #440 "Custom radio buttons must be enclosed in or have `was-validated` to show invalid feedback."
[For now this is here to remind me to figure out whether there really is an issue here.]

Default check boxes must `.is-invalid` in order to display `.invalid-feedback`.

- [x] Investigate further to see if this is really an issue
- [ ] Investigate if this applies to custom check boxes, custom file, and custom select

[2018-02-27 04:06] lcreid commented on #440
Never mind. `is-invalid` on the control is sufficient, in the absense of `was-validated` at the form level.

[2018-02-27 04:06] #440 closed

[2018-02-27 05:18] lcreid opened #443 "`static_control` needs to be updated to Bootstrap 4."
Static controls are currently implemented as a `p` tag that contains the text of the field, styled with `.form-control-static`. That class no longer exists in Bootstrap 4. It appears that `.form-control-static` was intended to render static text vertically aligned with form labels, in horizontal layout and in-line layout forms.

In Bootstrap 4 there is a `.form-control-plaintext`, but it appears t

[2018-02-28 05:56] ehutzelman opened #444 "Help text rendered inside input-group instead of form-group"
I believe this may be related to #434

When using help text along with a prepend, the following structure is generated with the help text being rendered inside the input-group:
[code]
This is causing rending issues at some widths with the help text being rendered to the right of the input field instead of below it. When moving the help text outside of the input-group and inside the outer form-grou

[2018-02-28 16:33] lcreid commented on #444
Thanks for taking the time to report this. This is is a great bug report.

In v2.7 of `bootstrap_form`, aka the Bootstrap 3 version, the help text was not rendered if there was a validation error. No one currently active on `bootstrap_form` knows why for sure, although https://github.com/bootstrap-ruby/bootstrap_form/issues/284#issuecomment-362791090 gives a plausible explanation.

Whatever the re

[2018-02-28 16:41] lcreid commented on #284
I'd like to argue for changing the behaviour of help and validation errors for version 4. I'm mainly putting this forward now because as a breaking change, we have to address it for this release or wait until the next major release.

#444 shows that in one case, Bootstrap 4 requires error and help to be rendered at different places in the structure (errors inside `.input-group` and help outside).

[2018-02-28 16:56] mattbrictson commented on #284
Yes, it looks like Bootstrap v4 leaves us no choice. We have to handle help and errors separately (since they render in different locations in v4), so we should display both.

[2018-03-01 03:31] ehutzelman commented on #444
Thanks for the quick response @lcreid. I've overbooked myself for March, but I could possibly pick this up in April if it remains unresolved. If anyone gets to it before then, more power to them :)

[2018-03-01 03:59] lcreid commented on #444
No worries, @ehutzelman . @parkeryoung, if you're still looking to contribute, this might be a good bug to fix. Comment here or assign yourself near the top-right of this page so we know you're working on it.

[2018-03-01 23:26] parkeryoung commented on #444
@lcreid I'll take a look at it.

[2018-03-02 00:36] parkeryoung commented on #444
There is a fix for this [here](https://github.com/bootstrap-ruby/bootstrap_form/pull/445), hope it suffices.

[2018-03-02 16:24] mattbrictson commented on #444
Fixed via #445

[2018-03-02 16:24] #444 closed

[2018-03-02 16:35] ehutzelman commented on #444
Thanks for the quick fix on this one @parkeryoung, much appreciated.

[2018-03-03 23:14] parkeryoung commented on #443
Take everything I say with a grain of salt since I'm not super familiar with Bootstrap or this project, but after looking through this I had a few thoughts.

Why would a validation error be rendered on a read-only field? I suppose it is possible, however it seems like that would be a flaw in the application design. I think worrying about what these render like together is unnecessary. Perhaps that

[2018-03-04 17:47] lcreid commented on #443
Good comments. Thanks!

Yes, that's a good point. I don't like breaking existing code, and if someone *could* do it, someone probably *had* done it.

Good point. I hadn't thought about that.

I'll look at the PR and possibly comment further there.

[2018-03-06 12:44] Zmokizmoghi opened #447 "Support "^ validation error text" format"
Hi.
Russian is a fairly complex language, and russian rails community adopted a hack to achieve human readable complex validation messages. The thing is to drop attribute name and wrote custom validations text for required attribute with `^` at the beginning, for example:
[code]
Popular gem for handle russian locale also [supports it](https://github.com/yaroslav/russian/blob/master/lib/russian/act

[2018-03-07 16:12] mattbrictson commented on #447
This is completely outside my area of expertise, but it seems reasonable to me. I would accept a PR, as long as this behavior can be opt-in. In other words, normally this behavior is not enabled, but a developer can enable it by doing something like

[code]

in their app (e.g. in a Rails initializer).

[2018-03-08 03:31] lcreid commented on #437
Look at #156 before doing anything with this issue.

[2018-03-08 03:52] lcreid commented on #437
https://getbootstrap.com/docs/4.0/components/forms/#disabled-forms confirms that for Bootstrap 4, the correct approach is to provide the `disabled="disabled"` attribute on the `input` tag. The class is no longer needed.

[2018-03-08 05:05] lcreid opened #449 "`form_group`, rows, and columns"
With Bootstrap 3, `.form-group` contained the styles of a `.row` via a mixin (see the "Horizontal forms overhauled" bullet at https://getbootstrap.com/docs/4.0/migration/#forms-1). Bootstrap 4 does *not* mix in `.row` to `.form-group`. Also, in Bootstrap 4 there are two row classes: `.row`, and `.form-row` which has smaller gutters.

Even with Bootstrap 3, there was issue #89 (and may have been ot

[2018-03-10 15:47] lcreid commented on #284
@mattbrictson #444 managed to fix its issue without changing the behaviour, i.e. error messages still suppress help text. However, it would be really easy to display both now. Let us know if you want to fix this for v4.0, or else perhaps remove the milestone from this issue. Thanks in advance.

[2018-03-10 21:17] #443 closed

[2018-03-12 18:39] lcreid opened #451 "Testing `form_with` and Rails Versions"
[This issue is for discussion and to record information that may be useful to future maintainers.]

This PR adds a new helper bootstrap_form_with to support the Rails 5.1 form_with helper (Issue #326). Support for `bootstrap_form_with` was added by PR #369.

The code changes to the helpers to support `bootstrap_form_with` were not extensive, but testing was a challenge. `form_with` adds to the var

[2018-03-13 02:39] GBH commented on #451
Is this the place to discuss testing approach?

Here's how test suite could be written to be simple and manageable.

There's absolutely no difference between Rails 5.0, 5.1 and 5.2 as far as `ActionView::Helpers::FormBuilder` is concerned. The only difference is how it's being initialized by view helpers like `form_for` or `form_with`. So all tests that test builder methods like `text_field` shoul

[2018-03-16 19:33] lcreid opened #452 "Bootstrap 4 Custom Controls"
Bootstrap 4 provides four custom controls (https://getbootstrap.com/docs/4.0/components/forms/#custom-forms):

- `input type="radio"`
- `input type="checkbox"`
- `select`
- `input type="file"`

The state of `bootstrap_form` v4.0 at the time of writing is:

- v2.7 of `bootstrap_form` has a `custom` option on `radio_button` and `check_box` that uses the Bootstrap 3 custom controls, and that function

[2018-03-21 15:58] mattbrictson commented on #284
Let's work on getting 4.0.0 out the door first, and come back to this later. I will remove the milestone.

[2018-03-26 15:54] mattbrictson commented on #449
I think this is worth doing for 4.0.0. I agree with this proposal:

In the case of `:horizontal`, I think we should add `row`, not `form-row`. The latter seems more appropriate to complex custom layouts. In the standard 2-column horizontal form layout, I think we want the normal gutter width.

Otherwise I am completely in agreement with this proposal.

[2018-03-26 16:20] raveman commented on #284
yep, help message should to be with form-control in `<div class="col-sm-10">..` , not after label/control
<img width="600" alt="screen shot 2018-03-26 at 19 18 34" src="https://user-images.githubusercontent.com/619857/37918744-a4324364-312a-11e8-8581-6573cf9338ed.png">
<img width="471" alt="screen shot 2018-03-26 at 19 18 23" src="https://user-images.githubusercontent.com/619857/37918745-a45316b6-

[2018-04-11 03:41] santiagodoldan opened #457 "Support nil value for label parameter"
Looks like passing `nil` or an empty string to the label parameter does not remove the text, it shows the attribute name, I was wondering if it could be a good idea to support nil to remove that text, in my case I was trying to use the check_box helper method and trying to integrate it with a bootstrap switch plugin which only uses css, so it needs a label without content.

If this is something th

[2018-04-11 12:30] nodrog commented on #316
@mattbrictson 's answer is a bit wrong in that the help option needs to be on the form group not on the checkbox. But it is documented as he has stated.

[2018-04-11 15:55] lcreid commented on #457
Thanks for the suggestion, Santiago. I see what the problem is. My only concern with the proposed solution is that it might break existing code being migrated from the Bootstrap 3 version of this gem. I assume from your example that you're using Bootstrap 4.

I checked the behaviour of the Bootstrap 3 version of the gem. If you specify `label: ""` to the Bootstrap 3 version, it gives an empty labe

[2018-04-11 16:05] lcreid commented on #316
Thanks, @nodrog. We had a lot of challenges with the positioning of help and errors for Bootstrap 4, since it changed in significant ways. See #418, #419, #436, #448, #444, #454, etc. I think we have it right now, but if you're seeing wrong behaviour, please let us know how to reproduce the problem, and we'll look at it.

[2018-04-11 20:32] GBH commented on #457
@santiagodoldan this is due to how `form.label` works in Rails. See: http://api.rubyonrails.org/v5.2/classes/ActionView/Helpers/FormHelper.html#method-i-label

`nil` and `""` are effectively `blank?` so helper falls back to the method name. You could try to use I18n for it (not sure if that will work though)

Easy work-around: `label: "nbsp;".html_safe`. That will render label with no content (non

[2018-04-15 14:56] lcreid commented on #457
The reason `label: ""` generated a label tag with no text in `bootstrap_form` 2.7 is because in Bootstrap 3 markup wrapped the check box or radio button inside the label. Bootstrap 4 requires the control to be outside the label. As noted in https://github.com/bootstrap-ruby/bootstrap_form/issues/457#issuecomment-380586177, the  `bootstrap_form` 2.7 behaviour is arguably inconsistent with the behav

[2018-04-15 21:12] lcreid commented on #449
It appears the code already does most of what @mattbrictson agreed to. The only part missing is to allow the user to choose `form-row` if they want.

[2018-04-23 15:28] lcreid commented on #457
@santiagodoldan Let us know if you plan to send a PR for this. We'd love to have your contribution and would be very thankful for a PR.

[2018-04-23 15:34] santiagodoldan commented on #457
Sure thing, will try to add it this week

[2018-04-28 19:09] lancecarlson opened #460 "inline option on date_select"
The default output of the date_select fields when using horizontal layout on the form does not look good. The fields stack on top of each other. Perhaps there should be a way to specify inline: true on it so you can override this behavior?

[2018-04-29 01:00] lcreid commented on #460
Thanks for reporting this. We really appreciate your feedback.

Can you please confirm that [this Bootply](https://www.bootply.com/xIjouEAIwR) is what you're seeing?  I see what you mean, that it's not really what someone would expect on a horizontal form.

Is [this Bootply](https://www.bootply.com/UVog5qkacr) more like what you'd like to see? It certainly seems a lot better to me this way.

[2018-04-30 17:33] lancecarlson commented on #460
@lcreid Yes! I think that's exactly what someone would be expecting. I haven't verified the actual look, but from an html perspective, this looks right. Thank you!

[2018-04-30 17:48] lcreid commented on #460
@lancecarlson are you interested in submitting a PR for this? We always appreciate contributions from the community. If not, no worries. I have some time this week and can probably put something together. Please just let me know what you like to do.

[2018-04-30 19:40] lancecarlson commented on #460
@lcreid please review! ^

[2018-04-30 20:33] lancecarlson commented on #402
@lcreid This happened to me on a fresh fork. Still having trouble getting it to recognize a users table.

[2018-05-04 16:14] lcreid commented on #460
This issue should probably include `time_select` and `datetime_select`, shouldn't it?

[2018-05-28 23:53] #449 closed

[2018-05-29 00:49] mattbrictson commented on #457
I'm late to this discussion, but if I may play devil's advocate for a bit?

We already have `skip_label: true`. This omits the label entirely. We also have `hide_label: true`. This hides the label but keeps the text for screen readers.

Do either of those work for your use case? I am not sure why you'd want to keep a `<label>` element in the markup with nothing inside of it. But, following on the

[2018-05-29 01:09] lcreid commented on #457
I was reluctant to add yet another option, but the Santiago's use case requires an empty label to work with another plugin. But that's arguably enough of an edge case that I now agree that we should just document the "zero width space" trick.

@santiagodoldan could you please look at [Matt's comment](https://github.com/bootstrap-ruby/bootstrap_form/issues/457#issuecomment-392623783) and see if it'

[2018-05-30 20:48] mattbrictson commented on #402
@lancecarlson can you test the branch in PR #464 to see if it fixes the problem for you on a fresh clone?

[2018-06-05 22:42] #457 closed

[2018-06-14 20:57] cseelus commented on #361
We're using v4 already in production for a few weeks now, works perfectly.

Would it be possible to (beta-)release the status quo on Rubygems? Let me know if I can help somewhere.

[2018-06-14 21:15] lcreid commented on #361
Thanks for the feedback. It's nice to hear from users when things are working for them!

We're about to release the alpha on Rubygems. We're just working on some documentation to make it easier for newbies like me to help. Stay tuned.

[2018-06-16 17:45] mattbrictson commented on #361
bootstrap_form 4.0.0.alpha1 has been released! 🎉

https://rubygems.org/gems/bootstrap_form/versions/4.0.0.alpha1
https://github.com/bootstrap-ruby/bootstrap_form/releases/tag/v4.0.0.alpha1

[2018-06-16 17:45] #361 closed

[2018-07-01 22:06] dachinat opened #471 "Save html for custom checkbox when setting custom for: and value:"
I needed to change an id of checkbox input, so I had to change 'for' of the label as well.

`<%= f.check_box :cstm_ns, { custom: true, id: "custom_id", label: { value: "&#8203;".html_safe, for: "custom_id}" } }, smth.id, 0 %>`

When using `label: { value: .. }` html was escaped, so I monkey patched `check_box` method in `BootstrapForm::FormBuilder`
[code]

[2018-07-02 18:23] lcreid commented on #471
Thanks for finding this! I can't think of any reason why this shouldn't work for custom controls. I'll put together a fix for this shortly.

[2018-07-03 13:44] pachacamac commented on #347
for others struggling .. this actually works:

`f.date_select :my_date, {start_year: Date.current.year, end_year: Date.current.year + 1}, {class: 'form-control'}`

[2018-07-03 17:23] lcreid commented on #347
Thanks for the suggestion, @pachacamac . I'm sure lots of people struggle with this, so your contribution is welcome.

Could you please show us the generated HTML so that we can be sure what you mean by the "created child-elements"? Thanks in advance.

[2018-07-04 23:33] mattbrictson commented on #471
Fixed via #472 and 3032ba0

[2018-07-04 23:33] #471 closed

[2018-07-04 23:41] mattbrictson commented on #347
I'll consider this fixed by #473 and b41295e.

[2018-07-04 23:41] #347 closed

[2018-07-11 23:07] lcreid opened #476 "Need a way to add classes to the `div.form-check` that wraps check boxes and radio buttons."
Bootstrap 4 wraps check boxes and radio buttons in a `div.form-check`. Similar to the `div.form-group` around other controls, it may be desirable to allow the programmer to add classes to the "wrapper" `div.form-check`, like we currently allow for the `div.form-group`.

I'm proposing we add the `wrapper_class` option to `check_box` and `radio_button` helpers, and apply the classes to the `div.form

[2018-07-15 21:37] lcreid opened #477 "Add block to `collection_check_boxes` and `collection_radio_buttons`."
The Rails `collection_check_boxes` and `collection_radio_button` methods [can take a block](http://edgeapi.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-collection_check_boxes). If a block is provided, the helper yields a special builder to the block. The idea is that the programmer can format the check box or radio button more precisely in the block, if the standard f

[2018-07-20 13:52] 0x0badc0de opened #478 "No offset in form_group classes without label when multiple cols values are specified"
Example:
[code]

Resulting `div` for `form_group` will have `class="col-sm-8 col-md-10 col-sm-4 col-md-2"`. While expected one is `class="col-sm-8 col-md-10 offset-sm-4 offset-md-2"`
Probably pattern in [offset_col](https://github.com/bootstrap-ruby/bootstrap_form/blob/v4.0.0.alpha1/lib/bootstrap_form/form_builder.rb#L342-L344) should be updated to something like `/\bcol-(\w+)-(\d)\b/` and `sub` r

[2018-07-22 18:55] lcreid commented on #478
Great catch! Thanks for the feedback. Would you like to submit a PR to fix this? We're happy to take contributions from the community. If you don't want to submit a PR, just tell us and we'll fix it.

[2018-07-23 22:10] lcreid commented on #477
Here's a specific example I'm having trouble implementing: I have a `has_many :team_members, through:` on the `Subject` model. I want to provide a simple user interface with a check boxes for each person on staff. Checking the box makes them a member of the team. However, I want to prevent the user from removing themself from the team, so I don't want to show the check box for the current user.

I

[2018-07-24 15:36] lcreid commented on #421
FWIW: The Rails helper deletes the `multiple` options once it generates the appropriate attributes, so it doesn't render a `multiple` attribute: https://github.com/rails/rails/blob/375a4143cf5caeb6159b338be824903edfd62836/actionview/lib/action_view/helpers/tags/check_box.rb#L25.

[2018-07-24 17:16] lcreid opened #481 "Rubocop"
We would like to start using Rubocop to encourage consistent coding practices. @mattbrictson suggested a two step process:

- [x] Start with linting cops only. Add Rubocop linting to the Travis CI build, and fix the code where warnings result. For example, here's the PR Matt did for SSHKit: https://github.com/capistrano/sshkit/pull/313. There are only 12 offences for linting in the current master

[2018-07-24 22:51] lcreid commented on #481
FYI: Over a third of the offences in the full set of cops (~475) can be resolved by deciding whether we prefer double quotes or single quotes for strings, and then fixing the code one way of the other. Both Matt and I seem to prefer double quotes.

Another 10 percent (roughly) of the offences can be resolved by adopting Rubocop's convention for spacing for the "{" and "}" on hashes.

[2018-08-03 18:43] walterdavis opened #482 "`wrapper_class` and `wrapper: { class: ... }` do not appear to do anything with a `collection_select`"
I have tried both options for adding additional wrapper classes to the generated `<div class="form-group">` surrounding the output of a `collection_select` helper. Neither one alters the output code in any way.

Is this known behavior? Do I need to create my own form-group and apply the class there?

I use this:

[code]

I expect this:

[code]

Instead, I get this:

[code]

[2018-08-03 18:59] walterdavis commented on #482
Naturally, since I posted an issue, I figured this out a minute later. When passing HTML options to the `collection_select` helper, you must disambiguate from any "regular options" for the helper itself by passing an empty hash in the (positional arguments) options spot.

https://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-collection_select

This works:
[code]

T

[2018-08-03 18:59] #482 closed

[2018-08-24 12:43] afuno opened #484 "undefined method `collection_check_boxes_without_bootstrap'"
Did you mean?  collection_select_without_bootstrap)

How do I disable the wrapper?

[2018-08-24 12:46] #484 closed

[2018-09-13 01:57] #478 closed

[2018-09-13 04:08] #476 closed

[2018-10-02 20:13] #332 closed

[2018-10-24 21:34] mullermp opened #489 "Alpha release?"
I'm noticing alpha1 was released quite a bit ago. Will there be an alpha2 release or a general 4.0 release?

https://rubygems.org/gems/bootstrap_form/versions/4.0.0.alpha1

I ask because I see some extra features that had been added, and my company imports gems from rubygems.org into our internal code repository.

[2018-10-25 02:31] lcreid commented on #489
A good question, and your timing is excellent. Matt just gave me the go-ahead to release 4.0.0 GA. I hope to get it out the door no later than the end of this weekend.

Since this gem is totally community-supported, I don't want to make commitments, but we hope we can have a somewhat regular schedule of minor releases going forward.

We would really appreciate help with this gem, even if it's just

[2018-11-03 16:29] #481 closed

[2018-11-06 19:33] lcreid opened #492 "Accessibility"
It seems to us like `bootstrap_form` could provide support to make Rails forms more accessible to people with different levels of ability in sight, mobility, and other aspects of computer interaction. This is likely a large project that would be undertaken via a number of smaller pull requests.

We invite you to create individual issues for parts of this effort. Please reference this issue in your

[2018-11-06 22:35] lcreid opened #493 "Clean up RuboCop offences."
We are using the approach described in: https://tech.offgrid-electric.com/rubocop-getting-to-green-in-a-huge-rails-app-12d1ad6678eb to implement a more consistent coding style in this project. RuboCop has been added to the Travis CI step, so offences cause the build to fail.

We've created a `.rubocop_todo.yml` file to disable a number of cops that we haven't had time to fix yet.

We'd be happy to

[2018-11-06 22:38] lcreid commented on #412
Closing as no longer relevant.

[2018-11-06 22:38] #412 closed

[2018-11-06 22:46] lcreid commented on #460
This was closed by PR #461.

[2018-11-06 22:46] #460 closed

[2018-12-02 20:09] Xavoski commented on #451
Option "size" in form.text_field isn't working for bootstrap_form_with.
<code><%= form.text_field :name, size: 20 %></code>
Do you recommend another way to define the size of text_field?

[2018-12-04 22:04] lcreid commented on #451
@Xavoski thanks very much for the feedback. We need to hear from users to make `bootstrap_form` better. Sorry for my delay in responding.

I'm having trouble reproducing your issue, but I have one guess as to what might be happening: Bootstrap expands input fields to the full width of the enclosing element. Depending on the HTML that you have around your text fields, that might account for why the

[2018-12-05 12:36] Xavoski commented on #451
After your sugestion, <code>style: "width: auto;"</code>, text_field are respecting the option <code>size: 20</code> and fields are not using the width from <code>form-control</code> class. So, problem was solved.
Thanks for your attention and congratulions for this gem.

[2018-12-17 22:18] gafemoyano opened #496 "Required: true is no longer being passed to the html views"
Hi, I've been using bootstrap_form for the past 6 months on my rails project, running the master branch to get bootstrap 4 support. I've recently noted that the required: true option is no longer being passed to the generated html, so client side validation for required fields is not being picked up by bootstrap.

Eg:

` <%= f.text_field :name, required: true %>
`
Outputs:
`<input value="" class="

[2018-12-18 17:20] lcreid commented on #496
Thanks very much for reporting this problem. PR #488 probably introduced this behaviour. I haven't had a chance to think through all the ramifications of this, but my immediate reaction is to say that we should not break existing code. Please be patient while we look at this, or feel free to submit a PR if you want.

Again, thanks for using `bootstrap_form` and reporting this issue!

[2018-12-19 00:06] #496 closed

[2019-01-10 02:07] lcreid opened #499 "Update documentation for PR #259"
Add documentation for an old PR #259 that was finally merged. Also fix the Travis failure.

[2019-01-10 18:41] #499 closed

[2019-01-14 03:33] G-Rath opened #502 "Identifying the field error messages belong to"
Is it possible for `bootstrap_form` to include information on an `.invalid-feedback` element about what field it belongs to?

Currently, `.invalid-feedback` elements are seemingly placed directly after  ("under") the element they're about, which isn't really strong enough to safely target & test for in `rspec`/`capybara`.

I think this would work well as a css class, but could also be done using a

[2019-01-16 17:36] lcreid commented on #502
This is a really interesting idea. Thanks! I'm a big fan of testing, and of good system tests, so this strikes a chord with me. Unfortunately, I haven't had much time to look into this, so apologies for my slow response.

As much as I like the idea, we also have an informal design goal to try to minimize the markup that the `bootstrap_form` gem adds itself (as opposed to what's required by Bootstr

[2019-01-16 19:21] G-Rath commented on #502
Glad you think so - was a little worried it might not be so well received!

Sadly, I've only actually just started getting into Ruby/Rails, so it's all too new for me to really suggest anything.

Personally, I'd see this being useful outside of testing as well - I originally tried converting the form to use ajax, but found this annoying to attempt b/c `bootstrap_form` doesn't provide the `.invalid

[2019-01-19 15:45] lcreid opened #503 "Rails 6 support"
Ensure that `bootstrap_form` will work with Rails 6.

- [x] Check if the TravisCI pipeline is already testing Rails edge.
- [x] Add the next version of Rails to the TravisCI pipeline if it's not already there.
- [x] Fix any errors found.
- [ ] Bonus marks: Enhance the build pipeline so we're always testing the next version, allowing certain errors, but preventing people from adding features to the

[2019-01-20 19:05] lcreid commented on #502
OK. No worries. Hopefully this week I'll make a chance to think about this and see what others have done.

I think you second idea is also worth exploring, but I'd prefer to separate the two iisues. If you don't mind, could you please open another issue and cut and paste the text into the new issue? I agree with your comments about testing. We should generate the same code regardless of the enviro

[2019-01-20 20:03] G-Rath opened #504 "Generate .invalid-feedback elements for use with ajax form submission"
Relates to #502

Bootstrap uses `.invalid-feedback` elements placed after inputs to show validation messages when an input errors. However, when converting a form to use ajax, bootstrap_form doesn't provide the .invalid-feedback elements unless there's an actual error on page render, meaning I'd have to use (extra) jQuery code to figure out if an feedback div existed for a specific input, append a

[2019-01-22 12:46] alec-implicitdesign opened #505 "static_control without an object fails"
The example in the README actually fails.

[code]

results in:

`ActionView::Template::Error (nil is not a symbol nor a string)`

[2019-01-23 00:04] lcreid commented on #502
I almost had myself convinced that the right thing was, in the Capybara test, to do something like this:
[code]
But I found lots of cases where the `div.invalid-feedback` doesn't immediately follow the `input`. Custom file inputs, radio buttons and check boxes, for example, where the `label` is in between the two. Also, any control that has an appended button or other content.

That said, I do bel

[2019-01-23 02:18] lcreid commented on #502
I don't disagree with your comments. The way the form is rendered is flexible. But most people's use of Capybara isn't testing that.

Most importantly, I think, in this case, we're testing code that's generated by `bootstrap_form`, so the elements will always be in the same place in the DOM (at least until Bootstrap 5 comes along, if our experience going from 3 to 4 is repeated with 5).

I can ima

[2019-01-23 03:17] lcreid commented on #505
Thanks so much for taking the time to report this! It appears we didn't have a test case that covers this exact example, and the functionality got broken somewhere along the line.

[2019-01-23 14:53] lcreid commented on #505
It turns out that this behaviour was a deliberate decision due to the changes needed to adapt to Bootstrap 4. See https://github.com/bootstrap-ruby/bootstrap_form/pull/446#issuecomment-370974725 (and the rest of the discussion around PR #446). The problem is that we didn't update the README. I'll fix it.

[2019-01-23 16:53] #505 closed

[2019-01-25 16:18] nevware commented on #503
it appears that Rails 6 includes the Trix editor as part of Action Text, and this doesn't work with bootstrap_form. May require update to documentation, but following the [instructions](https://edgeguides.rubyonrails.org/action_text_overview.html#installation) causes an unselectable box on the form.

[2019-01-25 17:19] lcreid commented on #503
@nevware Thanks for reporting this! Would you mind creating a separate issue for it? It's easy to manage the work if we have a separate issue for each broken bit that we find. Thanks again for taking the time to give feedback.

[2019-01-25 17:48] nevware opened #508 "Add support for Action Text (Rails 6)"

[2019-01-25 17:53] nevware commented on #503
Done: https://github.com/bootstrap-ruby/bootstrap_form/issues/508

[2019-01-25 22:40] lcreid opened #509 "Rails 6 removes hidden input named "utf8" to forms."
Rails 6 removes the hidden input field named "utf8", which breaks all the tests. See https://github.com/rails/rails/pull/32125.

A note about possible solutions: `form_with` changed the output of helpers compared to `form_for`, and testing for both quickly became very complicated. DRY solutions to supporting different expected strings quickly become hard to understand. Non-DRY solutions require ma

[2019-01-26 05:09] #509 closed

[2019-01-26 16:52] lcreid commented on #508
ActionText requires some application set-up: https://edgeguides.rubyonrails.org/action_text_overview.html. Without it, it appears our `FormBuilder` will throw `Gem Load Error is: undefined method `rich_text_area' for class `BootstrapForm::FormBuilder'` at load time. Since not everyone will use ActionText, we'll have to avoid the error.

[2019-01-27 14:14] krtschmr opened #512 "form-text not mentioned in the docs"

[2019-01-30 16:57] lcreid commented on #512
Could you please provide a description of the issue you want us to address? Thanks.

[2019-01-31 02:54] krtschmr commented on #512
` help: "you can buy up to 100$" `

this will generate the neccessary element with class `form-text` . however, the docs only talk about the I18N for `help` and it never says that you can put `help: ` into the form

[2019-01-31 11:19] simmerz commented on #493
@lcreid a lot of these could be cleaned up by moving each field type into its own module file, and moving various things to private methods within those. I'd suggest a `lib/bootstrap_form/fields` directory, within which each field type can have its own separate file. This will also make the code easier to read.

Happy to tackle this if you think it's an appropriate direction.

[2019-01-31 15:20] lcreid opened #515 "Check how Danger determines whether tests have been added."
PR #513 added a test in a new file, but Danger reported that no tests had been added. Make sure Danger correctly identifies if tests have been added.

[2019-01-31 15:41] lcreid commented on #493
It would be great if you could take this on! The only constraint we have is not to break anyone's existing code.

To that end, I would suggest not changing the namespace of any of the method calls documented in the README. If that means the `lib/bootstrap_form` directory gets full, let's live with that for now. However, feel free to push back on that if you have a solution for which you can show t

[2019-01-31 15:47] lcreid opened #516 "Add support for `custom-range` markup."
Bootstrap 4.1 introduced custom range fields that are styled similarly across all browsers. Add support for custom ranges, similar to what we have for check boxes and other custom controls.

[2019-01-31 16:34] simmerz opened #517 "Move inputs into separate files to make code more maintainable"
This *should* also, in theory, reduce the scope of `rubocop_todo.yml`

This should maintain existing compatibility (ie no breaking changes) with the existing latest cut gem.

[2019-01-31 16:36] simmerz commented on #493
@lcreid I've created #517 for this. Happy to work on it. Good idea too re presenting the direction.

Top-line, I don't believe there is any need to break compatibility with the existing code. What I'm proposing is effectively a a concern pattern. Including each of the inputs to make them more maintainable without actually changing too much of the structure. I'll see how that pans out as I go.

[2019-01-31 17:08] lcreid commented on #515
Without having tested: It appears that Danger's modified files are files that were existing and have changed. There is also an `added_files` method, that would presumably return something for added files. The `Dangerfile` currently only checks modified files. Ideally we'd check `added_files` too, but it's not something that's going to happen very often.

[2019-02-04 07:33] JoseFarias commented on #477
+1, I'm looking to show all check boxes but disable some of them conditionally.

Ended up using `collection_check_boxes_without_bootstrap` as suggested above. It wasn't much of a hassle but I did have to look at the source code before realizing why passing a block wasn't working. Having the helper more closely mimic the behavior of Rails's would definitely be very welcome.

[2019-02-07 19:57] lcreid commented on #504
I think @simmerz has a good point, but I've always felt that that approach isn't well-explained on the web. For self-taught Rails folks like me, the process isn't clear. I went looking again for a good tutorial, and didn't find exactly what I was looking for. The first half of this blog post is reasonably clear: https://blog.codeship.com/unobtrusive-javascript-via-ajax-rails/. (The second half of

[2019-02-07 21:25] lcreid commented on #512
The README does mention and give an example of adding help text, but I admit it does get kind of lost in the coverage of internationalization. Do you have a suggestion for what would make it stand out more?

[2019-02-08 00:30] kylefox commented on #283
@ideasasylum Thanks, your solution worked perfectly 👍

[2019-02-08 02:20] krtschmr commented on #512
@lcreid can you show me where? i still can't see it

[2019-02-08 16:44] lcreid commented on #512
It's here: https://github.com/bootstrap-ruby/bootstrap_form#help-text, but admittedly it's one line and then it goes on to talk about internationalization.

I'm playing with some ideas that I hope will make the documentation a little easier to use. With luck I'll have something to look at this weekend, if you're interested.

[2019-02-08 16:58] krtschmr commented on #512
i think the biggest isse is the fact that bootstrap class is called
`form-text` while we call it `help`. i actually searched for "form-text"
and couldnt find it in the docs. so that's what i was making the issue
for

[2019-02-11 17:08] lcreid commented on #512
Doh! I get it now. It's true the docs often show what will be generated. I was wondering if that was useful. Your comment indicates that it is.

I'm working on an evolution of the README page. I'll take your comments into account in re-write.

[2019-02-12 23:14] lcreid opened #520 "Make the documentation easier to navigate."
`bootstrap_form` has grown a lot over the years, and it would be nice to be able to move around the documentation more easily.

It would also be nice to tell people why they might want to use `bootstrap_form`.

[2019-02-18 16:46] simmerz commented on #517
@lcreid closing this now. I should probably have done it in my commit message :|

[2019-02-18 16:46] #517 closed

[2019-02-19 13:08] simmerz commented on #493
Working on `Metrics/AbcSize`

[2019-02-21 16:24] lcreid commented on #493
Fixed by #518 and #522.

[2019-02-21 16:24] #493 closed

[2019-02-23 18:00] jpaulomotta opened #523 "static_control prevents update using form_with"
**My version of the gem: **  `4.1.0`

Using `<%= form.static_control label: 'Client', value: workout.user.name %>` was preventing the form to update the record.

I was getting `ActionController::RoutingError (No route matches [POST] "/admin/workouts/8"):` error.

Setting name to nil solved the issue.

`<%= form.static_control label: 'Cliente', value: workout.user.name, name: nil %>`

Do you think

[2019-03-01 18:53] lcreid commented on #523
Thanks very much for reporting this issue! We really appreciate people taking the time to let us know when there are problems.

You're right that this should be in the documentation, but it also seems to me that it would be better if we can fix the code so this doesn't happen.

Would it be possible for you to post the generated HTML from when it was throwing the RoutingError? At least the `<form>`

[2019-03-11 14:38] jpaulomotta commented on #523
Here it goes:

This is my form tag:

[code]

Form tag:
[code]

Static tag that errors:
[code]

Chrome Stack trace on form submission:
![Screen Shot 2019-03-11 at 11 32 54 AM](https://user-images.githubusercontent.com/1813007/54131640-82abfe80-43f1-11e9-8c7c-658209ecc926.png)

== After setting `name: nil``
[code]

Form tag:
[code]

Static tag
[code]

I hope this helps.

[2019-03-11 23:08] lcreid commented on #523
Thanks for this. I reproduced your problem on a simpler test case, and figured out what's going on, I think. I'm not yet sure if there's a fix in the code, but I will change the documentation.

I believe the problem is related to not passing a field name to `static_control`. When one passes the value, the field name isn't actually used, but a `name` attribute is still generated for the static cont

[2019-03-11 23:20] jpaulomotta commented on #523
Icreid,

Your line of code worked. I got a notice on the rails longs about unpermitted parameters but it's ok.

I think your solution is more elegant than setting `name: nil`

Thanks a lot for your help.

[2019-03-13 12:45] jpaulomotta commented on #523
Fantastic @lcreid.

Thanks.

[2019-03-13 12:45] #523 closed

[2019-03-13 22:19] cj opened #527 "Add class when field is valid."
It would be nice to add a class when the input is valid i.e. `is-valid`.

![Image 2019-03-13 at 5 18 02 PM](https://user-images.githubusercontent.com/1819/54318353-0f061f00-45b4-11e9-95a0-3c518324d032.png)

[2019-03-14 19:55] lcreid commented on #527
Thanks very much for the feedback. The suggestion makes a lot of sense.

We strive to maintain backwards compatibility, so I'm wondering if you can think of situations where we might change the way an existing application works if we add this feature?

Do you see all fields getting the `is-valid` class, unless they were invalid? Or would we only put `is-valid` on fields that had a Rails validation

[2019-03-14 21:32] cj commented on #527
@lcreid I think doing it how [simple_form/boostrap](https://github.com/plataformatec/simple_form/blob/3a99d65b082c4422e2f761b1a01e35dee9bd69ae/lib/simple_form/components/errors.rb#L17-L23) does it would be the best approach, only showing it if it has validation.

Currently I am doing this `config/initializers/boostrap_form_group_builder.rb`:

[code]

[2019-03-17 06:25] iraszl commented on #421
Code like this still generates a hidden field passed on as a parameter like "categories"=>["", "1"], , which prevents the form to be saved and causes an error:
`<%= f.collection_check_boxes :categories, Category.all, :id, :title %>`

Adding **include_hidden: false** doesn't fix the issue. What is an elegant way to go about fixing this?

[2019-03-25 15:20] lcreid commented on #421
Apologies that I haven't responded sooner. I agree that `bootstrap_form` should be able to handle this elegantly, but the last time I had a chance to look, it wasn't going to be easy. I'll try to make some time to look at it again. Thanks for your input!

[2019-03-26 04:04] iraszl opened #528 "How to display selected file name?"
Without the bootstrap_form gem by default the rails forms show the filename or the number of files when selected, so the user knows they successfully selected a file to be uploaded in the form.
![Screenshot 2019-03-26 at 12 01 02 PM](https://user-images.githubusercontent.com/11810851/54970937-3818ad80-4fbf-11e9-88cc-2739ac4bbef2.png)

However, when I use bootstrap_form, the file name and count is

[2019-03-27 15:16] lcreid commented on #528
Thanks for the feedback. I know that the file upload control is implemented in a different way than some of the other controls. I don't know why, as it was done before I was a maintainer. I'm sure there was a good reason. I will add this to my list of issues to look at.

In the meantime, you can implement your own fields to give feedback. That's what I've done.

[2019-03-27 15:19] lcreid commented on #512
Fixed by #521, I believe. Reopen this issue if you disagree.

[2019-03-27 15:19] #512 closed

[2019-03-28 02:35] iraszl commented on #528
Thanks for the kind comment. What do you mean by your own fields? Do you have an example of what you've done please?

[2019-03-28 15:12] lcreid commented on #528
I have one example I can share:
[code]

The text field named `uri` (never mind why I called it that) actually is the file name of the file that was uploaded. If you were uploading the document with an AJAX request you'd have to add some JavaScript to the solution. In my case, it was simply doing a round trip to the server, so when the page re-rendered, the file name was shown.

I don't have any ex

[2019-03-29 05:52] iraszl commented on #528
Thank you for being so helpful!

[2019-04-15 15:36] codeandclay commented on #528
@iraszl Here's a naive way of showing the name of the file immediately after the file has been selected. No need for custom fields.

[code]

This works for my file field:
[code]

Before file has been selected:
![Screenshot 2019-04-15 at 16 09 06](https://user-images.githubusercontent.com/46304222/56145579-768d0100-5f9c-11e9-864b-e7ddf183ecdc.png)

After file has been selected:
![Screenshot 2019-04

[2019-04-15 15:43] iraszl commented on #528
@codeandclay Thank you so much! I'm going to test this out ASAP!

[2019-04-20 03:08] hwhelchel commented on #528
This is the recommended solution by the bootstrap folks

[code]

[2019-04-20 03:09] hwhelchel commented on #528
https://www.npmjs.com/package/bs-custom-file-input

[2019-04-20 03:10] hwhelchel opened #529 "Feature request: Direct Uploads Support"
Active Storage lets you upload files from the client directly to the cloud by setting `direct_upload: true` on your file_field in the form.

Would be awesome if Bootstrap Form automatically hooked into this feature and showed a visual progress bar of the file uploading using standard Bootstrap components.

https://edgeguides.rubyonrails.org/active_storage_overview.html#direct-uploads

[2019-04-20 08:16] iraszl commented on #528
@codeandclay Solution works.
@hwhelchel Doesn't seem to work. Do I need to add some class to the form to make it work?

[2019-04-20 14:45] lcreid commented on #529
That's a great suggestion. We're very open to a pull request to provide this feature. Personally I'm a little busy right now, but if no one else picks it up in the next few months I'll take a look.

[2019-04-20 15:37] lcreid commented on #528
@iraszl If you're using Turbolinks (by default Rails does), perhaps @hwhelchel 's solution will work if you change the second line as follows:

You'll also have to make sure you include the package. Follow the link in [this comment](https://github.com/bootstrap-ruby/bootstrap_form/issues/528#issuecomment-485053883) for instructions.

[2019-04-20 15:39] lcreid commented on #528
This is an elegant solution. At the moment, `bootstrap_form` doesn't ship any JavaScript. Do you think it's good enough to document this solution in the README, rather than change the code?

[2019-04-20 17:39] hwhelchel commented on #529
@lcreid awesome thanks!

[2019-04-21 05:11] iraszl commented on #528
@lcreid Works great. But note that this line is not needed in the javascript if you load the library:
`import bsCustomFileInput from 'bs-custom-file-input';`
Can you confirm if I'm correct or not?

[2019-04-24 15:26] abrambailey commented on #449
The conversation above was slightly confusing to me, but here's the look I was going for:

![image](https://user-images.githubusercontent.com/978462/56672100-6b606200-667b-11e9-8801-0c29f3bf06b3.png)

And here's how I accomplished it:

[code]
Please let me know if I have done this correctly, thanks!

[2019-04-26 14:33] lcreid commented on #449
That's exactly the way you should do it. It was the intent of the [final decision](https://github.com/bootstrap-ruby/bootstrap_form/issues/449#issuecomment-376216329) on this issue. Had we carried the Bootstrap 3 behaviour into the Bootstrap 4 version of `bootstrap_form`, your layout might not have even been possible. Sorry the above conversation was a little convoluted.

[2019-04-26 15:13] abrambailey commented on #449
Thanks for all you do on this awesome gem @lcreid !

[2019-05-17 18:45] Dreamersoul opened #531 "collection_check_boxes with custom: true doesn't allow select"
the issue is present because the collection_check_boxes method doesn't generate id's for the input elements nor a for attribute for the label which breaks the check box.

My suggestion is as follows: if a custom id is not present generate an id as follows "#{input_name}_#{value}" to ensure it being unique

I looked into the source code and couldn't find the origin of the problem. if someone can gu

[2019-05-18 10:17] Dreamersoul commented on #531
after digging a little further i downloaded the source and added a test case for a collection with custom input and it indeed rendered correctly. i'm guessing i have a gem that is interfering with something

[code]

output:
[code]

[2019-05-23 03:10] stephancom commented on #477
Another thought I'm having is perhaps in addition to the `value_method` and `text_method` parameters, add an `options_method` parameter.  This could be a proc, which gets called for each item, receives the object as a parameter, and generates additional options for the underlying check_box.

In my case, I want the checkboxes to toggle visibility of a div elsewhere on the page, so I might do someth

[2019-05-24 18:02] valeriecodes opened #533 "Labels don't use namespaced ids"
The following code:
[code]

Generates the following HTML:
[code]

The `for` attribute on the label does not match the check box id because it's using namespace. It should be:
[code]

The workaround is to explicitly specify the id instead of using namespace:
[code]

I'd be happy to put together a PR to address this if you'd like!

[2019-05-27 02:39] lcreid commented on #533
Thanks for reporting this. Nice catch! We always welcome PRs so I'd love to see what you send us. The one thing I'd remind you is to consider how to minimize the impact to existing code, if any.

Thanks again for your contribution. I look forward to your PR.

[2019-05-30 20:41] abrambailey commented on #527
Would be really nice if this worked. I noticed after someone interacts with a form that has invalid fields, the invalid fields stay marked as invalid, even after they are corrected.

[2019-05-30 20:45] abrambailey commented on #527
Try submitting this form and then correcting the blank fields etc to see the desired behavior: http://simple-form-bootstrap.plataformatec.com.br/examples/vertical

[2019-05-31 14:20] lcreid commented on #527
Thanks for the feedback. We always welcome pull requests, if you fancy taking this on yourself. Just assign this issue to yourself (Look for "assignees" in upper-right area of this page) first so no one else works on it. I'll see if I have some time this weekend to take a stab at it if no one else is working on it.

[2019-05-31 14:34] abrambailey commented on #527
Thanks @lcreid ... Slammed atm, so probably won't happen, but appreciate the invite / open door. Just wanted to clarify one thing. It looks like simple_form doesn't handle this either... If you fill in the Bootstrap form and submit the validation works, but if you fill in the SimpleForm generated Bootstrap form, it does not.

![image](https://user-images.githubusercontent.com/978462/58712964-3edce

[2019-05-31 14:39] lcreid commented on #527
Thanks again. I happened to be taking a quick look myself, and was seeing similar things to what you're saying. I appreciate your extra input. I understand if you don't have time to put together a PR -- that's the same reason I haven't had a chance to do anything about this issue :-).

[2019-06-02 20:36] lcreid commented on #527
First, I'm not a front-end programmer. I started using `bootstrap_form` because it let me do nice forms without knowing too much about the front end. So please correct me if I say anything wrong in what follows. ;-)

`bootstrap_form` operates on a very traditional Rails model of server-side rendering. Bootstrap adds some front-end behaviour (tabs, tooltips, etc), but by and large everything that h

[2019-06-08 13:21] johanlunds opened #534 "Support/how-to for floating labels"
Hi,

Is there an easy or recommended way to generate markup for *floating labels*? Two examples:

- Bootstrap examples: https://getbootstrap.com/docs/4.3/examples/floating-labels/
- simple_form: http://simple-form-bootstrap.plataformatec.com.br/examples/floating_label

Basically I think it needs:

- [some extra custom CSS](https://getbootstrap.com/docs/4.3/examples/floating-labels/floating-labels.

[2019-06-08 13:57] lcreid commented on #534
This is a great suggestion! Thanks! We'd be happy to entertain a pull request (PR) to add this functionality. I expect we'd want floating labels to be turned on at the form level via an option to `bootstrap_form_for` or `bootstrap_form_with`.

If you decide to work on a PR, please assign this issue to yourself (look for the link in the upper-right area of this page).

I'm a little busy at the mome

[2019-06-12 14:38] JochenLutz opened #535 "label_class ignored on collection_check_boxes"
I want to add additional classes to the checkboxes in a collection rendered with `collection_check_boxes`. According to the [documentation](https://github.com/bootstrap-ruby/bootstrap_form#collections), "Other options [than `:label`, `:hide_label`, `:help`] will be forwarded to the `radio_button`/`check_box method`".
But the class is not added to the checkboxes within the collection.

Digging into

[2019-06-16 21:43] lcreid commented on #535
Thank you for the detailed report. We appreciate all feedback, but you've provided lots of useful information for us. On the odd chance that you have time to submit a pull request, feel free to do so. If you plan to submit a PR, just assign this issue to yourself (upper left of this page). Otherwise, we will look into it.

[2019-06-23 21:21] lcreid commented on #535
It looks like the documentation has not been keeping up-to-date with the code. A number of options are not forwarded to the `radio_button` and `check_box` methods, but this is on purpose.

However, I believe I may have seen what's causing you a problem. Before I actually make any changes, can you please clarify which options you're trying to pass through to the check box and/or its label?

[2019-07-01 10:34] JochenLutz commented on #535
For my use case, I need to pass `:label_class` to the labels.

[2019-07-02 14:32] lcreid commented on #535
Thanks. That helps clarify things.

We can't change what `:label_class` on `collection_check_boxes` does. It sets the class on the label for the group of buttons, so we can't also use it to pass a class down to the labels of the individual check boxes without breaking existing code that uses `collection_check_boxes`.

I suspect the fix to #477 would help in your case. A block on `collection_check_

[2019-07-02 15:18] JochenLutz commented on #535
A fix of #477 would definitely help me. As a matter of fact, my current workaround is to use `collection_check_boxes_without_bootstrap`.

[2019-07-07 20:59] lcreid opened #538 "Markup from `required: true` may be different from default markup for required fields"
It looks like the mark-up added by the relatively new option `required: true` causes Chrome (at least, likely others) to do the HTML5 validation on the front end. Needs investigation and test cases to confirm.

[2019-07-10 17:39] 8vius opened #539 "fields_for doesn't work in the standard rails way"
When I use `fields_for` it doesn't output the elements in the [standard rails way](https://guides.rubyonrails.org/form_helpers.html#nested-forms), for example:

`form.fields_for :organization_users do |fields|` doesn't work at all, I have to do something like `forms.fields_for form.object.organization_users do |fields|`, and this doesn't output like rails does with `organization[organization_users

[2019-07-10 17:45] #539 closed

[2019-07-25 10:07] markburns opened #540 "Rich text area not auto-expanding vertically"
A picture is worth a thousand words.

------
![image](https://user-images.githubusercontent.com/104158/61865933-1b887580-aecc-11e9-99c8-03b4f0c4abeb.png)
------

I haven't dug into the CSS yet to understand what's happening, but I'm not sure this is working out of the box as you might expect it to.

[2019-07-25 11:23] markburns commented on #540
seems to be some clash with the `.form-control` class.

Workaround:

[code]

[2019-07-26 20:33] dleavitt opened #541 "Ability to globally enable custom form fields"
The [basic custom form fields](https://getbootstrap.com/docs/4.3/components/forms/#custom-forms) are usually something you want to apply either globally or not at all, so it would be great to have the ability to globally default to custom (maybe per-field type) rather than having to pass in the argument to each input.

This may be easily doable now by redefining some methods in an initializer, if

[2019-08-04 22:36] lcreid commented on #540
Thanks for the report. I will try to take a look at this in the near future, but I'm pretty busy at work these days. If you want to submit a pull request, I'd be happy to look at it. If you decide to work on a PR, assign the bug to yourself (look for the link in the upper-right area of this page.

[2019-08-04 22:42] lcreid commented on #541
Thanks for the suggestion. A way to globally set options makes a lot of sense. I'm open to suggestions or pull requests for this. If you decide to work on a pull request, please assign the bug to yourself (find the link in the upper-right area of this page). Otherwise I will look into this when I find some time.

[2019-08-14 17:55] walterdavis opened #543 "Suggestion: use the <output> tag for static flelds"

[2019-09-21 03:54] Halloran commented on #528
FWIW, while this issue is open, you can solve the issue by sprinkling a bit of script into your form:

<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>

[2019-09-22 00:05] lcreid commented on #503
Version 4.3.0 has been deemed the official Rails 6.0.0 version. There is at least one reported issue with the rich text area support still (#540).

[2019-09-22 00:05] #503 closed

[2019-09-22 23:04] lcreid opened #545 "`assert_dom_equal` not enough"
We could eliminate a number of dependencies by using Rails' `assert_dom_equal`, but we would lose some features in the process. `diffy` shows us where the difference is, which is useful especially for the tests that generate more than a line or two of HTML (most of them).

Also, we still need to strip some attributes or do other processing to accommodate different versions of Rails, etc.

This iss

[2019-09-22 23:04] #545 closed

[2019-09-23 01:12] davidray commented on #528
If you have multiple file fields, you could do something like this so they all don't get updated to show the same value:

[code]

[2019-09-23 12:40] Halloran commented on #528
@davidray nice catch. Your solution works both when `multiple: true` and `multiple: false` Thanks

[2019-10-12 23:30] daniel-g opened #546 "Undefined method `name' for "Search":Ransack::Name"
When using a ransack object, there's an error trying to get the model name's name:

https://github.com/bootstrap-ruby/bootstrap_form/blob/aa2cb2933cd655bb0ebf1e9691b28760f8a77054/lib/bootstrap_form/components/hints.rb#L23-L27

The workaround is setting the help text manually:
[code]

[2019-10-14 19:16] lcreid commented on #546
Thanks for reporting this issue. I haven't used Ransack, so it will take time for me to research the problem. If you have an open source project that reproduces the problem, a link to it would help me a lot. Also, feel free to submit ideas for a fix, or a pull request to fix the problem.

I noticed that the Ransack documentation has specific [instructions](https://github.com/activerecord-hackery/r

[2019-10-20 18:35] lcreid opened #547 "Refactor check box and radio button helpers"
One approach to solving #477 and related issues would be to implement be to make our implementation use the Rails methods for `label` and `check_box` and `radio_button` in a way that would make our helpers easier to use in the collection helpers.

[2019-10-20 20:38] lcreid commented on #547
It looks like the Rails internals use string keys, and we use symbol keys. This could be causing all sorts of unexpected behaviour, and could require all sorts of extra code.

[2019-10-26 06:27] harada4atsushi commented on #546
@lcreid @daniel-g Hi, Nice to meet you.

I implemented like #549 , How is it?

[2019-10-26 16:28] lcreid commented on #546
@daniel-g Could you please try the fix in @harada4atsushi 's pull request and see if that resolves your issue? I think you would put something like this in your `Gemfile`:
[code]
Then `bundle install` and run whatever you used to test before.

[2019-10-28 11:20] siegy22 opened #551 "How to set a class on the form tag"
Hey there, I'm trying to set a class on the form which is generated when I use `bootstrap_form_for`:

[code]

I tried it using `class: 'user'`, but the form always produces `class="new_user"`. I couldn't find anything in the README on how to add/set a class to the form tag itself.

[2019-10-28 11:24] siegy22 commented on #551
I'm sorry.. This is not an issue related to bootstrap_form at all.

Been a while since I've done rails (non-SPA) forms: https://stackoverflow.com/questions/13144624/use-rails-form-for-but-set-custom-classes-attributes-on-form-element

Solution: `html: { class: 'user' }`

[2019-10-28 11:24] #551 closed

[2019-10-28 18:23] daniel-g commented on #546
@harada4atsushi @lcreid it works great :) thanks for the effort :D

[2019-11-18 23:37] geraddavis commented on #538
I ran into the same issue. You can skirt this behavior by adding `novalidate: true` to the form.

[2019-11-19 00:01] geraddavis opened #552 "`invalid-feedback` element isn't rendering"
Currently running
`Rails 5`
`Ruby 2.6`
`Bootstrap 4+`
`Bootstrap_form 4.3`

I can't figure out how to invoke the `invalid-feedback` element. The ReadME file makes it seem like this element should rendered by default but it isn't. I've tried forcing this by setting the form to `inline_errors: true` and I'm not seeing a change.

Is this something that only comes in after a trip to the server? I'm ho

[2019-12-08 17:51] lcreid opened #553 "Bootstrap 5"
This is a high-level issue to capture the tasks needed for version 5 of `bootstrap_form`/`bootstrap_form` for Bootstrap 5.

Some links to relevant resources:

* https://v5.getbootstrap.com/docs/5.0/migration/#forms
* https://blog.templatetoaster.com/news/bootstrap-5/

To contribute, create an issue or pull request (PR). If you're making a PR, be sure to do it against the `bootstrap-5` branch.

Rem

[2019-12-17 12:55] syutran opened #554 "rails 6 with webpacker error~"
ERROR in ./app/javascript/stylesheets/application.scss (./node_modules/css-loader/dist/cjs.js??ref--7-1!./node_modules/postcss-loader/src??ref--7-2!./node_modules/sass-loader/dist/cjs.js??ref--7-3!./app/javascript/stylesheets/application.scss)
Module build failed (from ./node_modules/sass-loader/dist/cjs.js):

@import 'rails_bootstrap_forms';
^
      File to import not found or unreadable: rails_b

[2019-12-18 03:15] lcreid commented on #554
Thanks for taking the time to report this issue. I'm sorry you're having problems.

I'm afraid we haven't had a chance to test and adapt this gem to the Webpacker way of managing assets. We'd be happy to consider a pull request that works for users using the traditional Sprockets asset pipeline, and the Webpacker assets pipeline.

[2019-12-18 16:05] thedavidgay commented on #554
+1 for getting this to work with webpacker.

[2020-01-18 04:46] addisonmartin commented on #554
I'd also love for this feature to be added! Thanks

[2020-01-18 05:05] addisonmartin commented on #554
Until this feature can be implemented, I've managed to get this gem to work with Rails 6 and Webpacker:

1. In config/webpacker.yml, under default, set the extra_css option from false to true.
2. Create the file app/javascript/packs/stylesheets.scss
3. Add the @import 'rails_bootstrap_forms'; line within this newly created stylesheets file.

I don't believe this messed up the rest of the applicati

[2020-01-22 22:37] barriault commented on #528
Here is the solution that worked for me on a Rails 6 app. A big thanks to @hwhelchel and @lcreid  for their comments above. From the terminal run:
[code]

Add the following to your project's javascript/packs/application.js file:
[code]

 Use one of these in your view:

[code]

[2020-01-23 19:05] rileytg opened #556 "checkboxes in horizontal forms render weird"
Checkboxes end up over on the right. Any other info i can provide?

<img width="1194" alt="Symphony_Next_Beta-8" src="https://user-images.githubusercontent.com/692817/73015001-0aafb280-3dd0-11ea-8489-3864d682c16d.png">

[code]

[2020-02-29 13:57] ThomasConnolly commented on #554
addisonmartin: I believe you mean "extract_css," not "extra_css." However, I still get the error: SassError: File to import not found or unreadable: rails_bootstrap_forms.
08:55:17 webpacker.1 |             on line 3 of /home/tom/paul/app/javascript/src/application.scss
08:55:17 webpacker.1 |     >> @import "rails_bootstrap_forms";

[2020-03-01 03:17] justinschier commented on #554
@addisonmartin 's trick worked for me. Yes @ThomasConnolly  the option is extract_css, not extra_css.

[2020-03-01 13:09] ThomasConnolly commented on #554
Here is what finally worked for me: I cleared the buildpacks after learning they were not in the correct order. Here are docs from Heroku:

Verify that your buildpacks are set correctly and that Node comes before Ruby:

$ heroku buildpacks
=== myapp Buildpack URLs
1. heroku/nodejs
2. heroku/ruby$ heroku buildpacks:add heroku/ruby
Verify that your buildpacks are set correctly and that Node comes be

[2020-03-03 19:42] MtnBiker commented on #554
@addisonmartin Are you still adding the gem?

Implied yes, and I don't see anything in the node_modules that suggest it's installed otherwise.

[2020-03-05 02:12] addisonmartin commented on #554
What do you mean @MtnBiker? I did not open this issue, only posted a resolution to get the gem working with Rails 6.

To answer your question, I am still using the gem, and there is nothing to install that would appear in node_modules (I think).

[2020-03-05 02:42] MtnBiker commented on #554
@addisonmartin. Thanks. The node_modules was a (rather obtuse) reference to what bootstrap has installed using Yarn and I had just looked to se if anything that looked like it related to forms.

[2020-04-14 14:27] lcreid opened #561 "Implement Configuration Options"
One of the good features of `bootstrap_form` is that it doesn't require a complicated configuration process before you can use it.

Also, configuration options can greatly increase the development challenge, as you may need test cases for each variation of a configuration option.

On the other hand, there are a lot of good ideas for the future of `bootstrap_form` that require breaking changes. It

[2020-04-14 21:59] sharshenov commented on #561
Unfortunately, I don't have sufficient right to assign myself, but here is a draft PR #562  for the requested feature, which also closes #560

[2020-04-20 03:01] #561 closed

[2020-05-04 11:19] maltesa opened #564 "Purgecss does not know about styles used by bootstrap_form"
I am using purgecss to decrease the size of my css bundle and to purge all unused css. I am also using `boostrap_form` to build my forms. Now purgecss purges to much of the boostrap styles if I create a form like the following, since there are no classes etc. used.

My current solution is to use the styles used by `bootstrap_form` in a dummy `html.erb` file to avoid purging of these classes (i jus

[2020-05-14 02:11] lcreid commented on #564
Thanks very much for taking the time to report this. It's an interesting issue. I'd be happy to accept a documentation pull request, giving some notes on how to combine purgecss and bootstrap_form. My immediate feeling is that it's a bit beyond the scope of this gem to support the range of asset build and deploy tools out there.

One alternative would be for you to publish a small gem that adds th

[2020-06-01 17:02] niedfelj commented on #554
The css is only a few lines, you can also just manually place in your webpacker scss/css also

[code]

[2020-06-16 20:38] taylorthurlow commented on #553
The Bootstrap 5 alpha [is out today](https://blog.getbootstrap.com/2020/06/16/bootstrap-5-alpha/)!

[2020-06-20 01:13] lcreid opened #568 "`form_group` Implementation"
With Bootstrap 5, the concept of the form group basically goes away. The internal implementation of the form group (`form_group` method) dates back to at least Bootstrap 3 (if not earlier). While it made sense then, it may be overkill now.

With a major version change, now is the time to consider refactoring the method and removing the public. This issue is meant for discussion, but can turn into

[2020-06-20 01:15] lcreid commented on #547
Added the Bootstrap 5 label because we should take a look at this if we're making changes to the fundamental code.

[2020-06-20 01:18] lcreid commented on #541
It looks like Bootstrap 5 does away with the concept of custom form fields, at least at the alpha 1 stage. I'm open to input on whether this feature will still be needed.

[2020-06-20 03:09] brandondrew commented on #552
The claim in the README that this was handled automatically was probably the main reason I chose bootstrap_form over Simple Form.  This bug was reported months ago.  Is there any reason it is being ignored?  This is really really huge.

[2020-06-21 00:27] lcreid opened #569 "Remove form attribute role="form""
The form attribute `role="form"` causes warnings from accessibility validators (#560 and #562). Drop the `role="form"` for Bootstrap 5.

This includes at least:

- [x] Change test cases
- [x] Change code
- [x] Add to `UPGRADING.md`
- [x] Update `README.md`

[2020-06-26 01:04] lcreid commented on #552
Thanks for the feedback, and my apologies for the slow response.

To clarify, `bootstrap_form` is very much built around Rails back-end validation. If you're taking advantage of validation in the browser, `bootstrap_form` may not give you any help. However, it shouldn't prevent you from doing anything on the front-end, either.

I will look into the README and try to clarify our claims.

If you see

[2020-06-26 02:27] lcreid commented on #552
I think this is related to #504  and #502.

[2020-06-27 18:15] lcreid commented on #552
I updated the README to state that this gem doesn't help you with client-side validation.

I found this page helpful in understanding the issues and seeing some possible solutions: https://www.jorgemanrubia.com/2019/02/16/form-validations-with-html5-and-modern-rails/.

Thanks for the feedback. If you have any ideas about how this gem could integrate better with client-side validation, please open

[2020-06-27 18:15] #552 closed

[2020-07-08 05:15] anastaszi commented on #528
For novices like me and who work just with plain JS (in case you use turbolinks):

Add this function to app/assets/javascript/custom/[file_name].js:
[code]
And in your file_field you don't need to change a thing
[code]
After file was selected you'll see this:

<img width="785" alt="Screen Shot 2020-07-07 at 10 13 20 PM" src="https://user-images.githubusercontent.com/25443978/86879027-1867a480-c09f

[2020-08-04 05:22] maltesa commented on #564
Thanks for your reply.
Yes, it is probably a bit out of scope and putting it into a separate gem seems a good idea. For now the solution with the dummy file works quite well for me, if I come up with a better solution I will mention it here and/or create a pull request to update the documentation.

[2020-08-04 05:22] #564 closed

[2020-08-28 08:21] istvanp commented on #534
Here's my drop-in monkey patch to support this on v5 (it's surprisingly straightforward):
https://gist.github.com/istvanp/9d7dedff7c56f69d5524c054565ae42a
I have not tested it in all situations so I'm going to wait before doing a proper PR.

[2020-10-29 15:13] Bodata commented on #529
A workaround regarding the problem:

I did not get any progressbar when using bootstrap_form_for. When i changed back to  a form_for this worked.
In order to get it to work i had to remove the label added by bootstrap_form. (a poormans option)

I made this work bij changing the direct-upload:initialize code

<pre>'addEventListener("direct-upload:initialize", event => {
  const { target, detail } =

[2020-11-12 11:42] thimo opened #572 "Simplify rendering of file_field for Bootstrap 5 alpha 3"
Bootstrap 5 alpha 3 can now render a very nice looking file selector without needing additional classes or extra markup.

Current markup for `f.file_field :image`:

[code]

Can be simplified to:

[code]

More information can be found here: https://v5.getbootstrap.com/docs/5.0/forms/form-control/#file-input

I'd like to try to make this change myself, but if someone else is in a position to pick th

[2020-11-12 11:52] thimo opened #573 "Support Bootstrap 5 alpha 3 floating labels"
Bootstrap 5 alpha 3 supports floating labels: https://v5.getbootstrap.com/docs/5.0/forms/floating-labels/

It would be nice to enable this in bootstrap_form with an option, something like `<%= f.text_field :query, floating: true %>`.

To enable this a few things must be done in the rendering:

1. use `form-floating` as the control class
2. revert order of `input` and `label` elements
3. add `place

[2021-01-13 02:44] lcreid opened #575 "Change the name of the main branch to `main`"
Change the name of the main branch to `main`.

We're changing the name because, for a significant proportion of English-speakers, the word "master" means "owner of slaves". By using "master", we could be signalling to some people that they're not welcome to participate in this project. By changing the name to "main", we avoid needlessly discouraging people from participating in this project.

Anot

[2021-01-13 02:47] lcreid opened #576 "Help Wanted: Maintainer"
Unfortunately, I don't use this gem at work anymore, and I have found I simply don't have the time to keep up with it. A bit more help from people who are willing to be committers would ensure that this gem continues to provide really useful services in the future.

We need people who can deal with changes to the code, as well as people who can help maintain our build and CI pipeline (e.g. travisc

[2021-01-13 02:47] lcreid opened #577 "Help Wanted: Maintainer Needed"
Unfortunately, I don't use this gem at work anymore, and I have found I simply don't have the time to keep up with it. A bit more help from people who are willing to be committers would ensure that this gem continues to provide really useful services in the future.

We need people who can deal with changes to the code, as well as people who can help maintain our build and CI pipeline (e.g. travisc

[2021-01-13 17:45] donv commented on #577
I am still using this gem at work and am happy to contribute.

[2021-01-13 18:01] donv commented on #577
I'll start work on setting up GitHub Actions.

[2021-01-13 18:42] donv opened #578 "Get CI working"
I'll start setting up GitHub Actions, but travis is not green, and when I run tests locally, 171 of 260 tests fail.

@lcreid  Is the release branch master or bootstrap-5 ?

Any comments are welcome.

[2021-01-13 19:44] donv commented on #578
I have 4 of 9 tests green 😄

[2021-01-13 20:30] donv commented on #578
5 of 10 jobs green including Lint (rubocop)

[2021-01-13 20:42] donv commented on #578
OK, basic setup is done.  We have failures for Rails 6.1 and Rails edge and for Ruby 3.0.0, but that is not new, it is present in travis as well.

Anybody know why the generated HTML should be different for Ruby 3.0.0?

[2021-01-13 22:00] donv commented on #578
Fixed the Ruby 3.0 keyword args problem.  6 of 10 jobs are green.

[2021-01-13 22:26] donv commented on #575
What is the purpose of this change?

[2021-01-14 03:35] lcreid commented on #577
Thanks so much, @donv !

[2021-01-14 03:43] lcreid commented on #578
It looks like you're making great progress. Thanks!

I'm curious: Does the fix for Ruby 3 keyword arguments imply a breaking change for existing applications that might migrate to Ruby 3?

[2021-01-14 03:52] lcreid commented on #578
Also, keep in mind that we only _commit_ to supporting `bootstrap_form` for supported versions of Ruby and Rails. We can choose to test older versions, but if getting the tests to run on an unsupported version of Ruby or Rails is causing you grief, feel free not to run the tests on the offending old version.

[2021-01-14 03:53] lcreid commented on #576
Network, Browser, or GitHub issues caused me to create a duplicate of this issue. Closing this one in favour of #577 .

[2021-01-14 03:53] #576 closed

[2021-01-14 04:10] lcreid commented on #575
I updated the description to give some motivation. It looks like the tooling is mostly there, but it's still worthwhile to wait, if possible, until there aren't too many PRs in progress. So we'll definitely wait until we get CI working again and some of the Bootstrap 5 backlog (if any) done.

[2021-01-14 05:05] lcreid commented on #573
Thanks for proposing this. We definitely want to support floating labels. (We want to support whatever Bootstrap supports.)

We'd be very interested in seeing a PR if you want to take a crack at it. When we see how it works I think we can have better feedback for you. Feel free to ask questions here if you're wondering about existing code.

Thanks for your interest and input in `bootstrap_form`.

[2021-01-14 05:07] lcreid commented on #572
Nice catch! We'd love to see a PR for this. If you have time to work on it, just assign the issue to yourself (so no one else starts working on it), and have a go. Thanks very much for your contribution.

(And no worries if you don't find time to do this. We'll get it done eventually.)

[2021-01-14 05:10] lcreid commented on #529
A very belated, but very big, thanks for your suggestion. We'll look at how we can incorporate this into the gem. Feel free to send us a pull request if you think you have an idea for how we could do it.

[2021-02-26 15:38] fritzek commented on #554
I came across the same issues plus the problem of bootstrap dropdown no longer working. Taking the workaround was showing the same error message. I then added the scss/css manually to app/javascript/stylesheets/application.scss. And now it was working and the dropdown works too.
Here the content of app/javascript/stylesheets/application.scss:

[code]

[2021-03-24 21:15] cseelus opened #579 "Errors on helper uses weird class names"
The [`errors_on` helper](https://github.com/bootstrap-ruby/bootstrap_form/blob/4d92a8af1dd7b176b0b8e3151c600ce2607722d4/lib/bootstrap_form/helpers/bootstrap.rb#L45) outputs a div with `alert` and `alert-danger` classes, [typically used](https://www.google.com/search?client=safari&rls=en&q=rails+flash+bootstrap&ie=UTF-8&oe=UTF-8) for Rails flash messages.

<img width="674" alt="Screen Shot 2021-03-

[2021-03-25 02:15] lcreid commented on #579
Thanks for taking the time to create an issue. You make an good point. I don't use `errors_on` myself, so I hadn't really considered it.

On of the challenges we have is maintaining backwards compatibility for all the existing applications that use this gem. I'd be happy to take a PR, but I'd like to hear how we can use the consisten classes, without breaking existing applications. Perhaps a confi

[2021-03-25 23:25] cseelus commented on #579
To keep it backwards compatible (within the current major version?), yes I too think the only way is to add another configuration option (besides the `hide_attribute_name` one).

My suggestion would be to call it `inline` (e.g. `inline: true`) in reference to the default inline error message.

So to get the default inline error output, one would have to use it like this:

[code]

Calling that opti

[2021-03-28 22:00] lcreid commented on #579
Thanks for your patience with my slow reply. And thanks for the suggestions. I'm now thinking that we probably just completely overlooked the `errors_on` method when Bootstrap 4 changed its error classes. I still don't think we should break Bootstrap 4 applications that use `bootstrap_form`, but we should make the default consistent for Bootstrap 5.

I was thinking more like a global configuration

[2021-03-29 22:22] cseelus commented on #579
Ah no problem, we all have lots of stuff to do.

I like your suggestion to use the default error classes for `errors_on` with Bootstrap 5: Should I open a PR for that?

I'm just not sure if implementing a global config option for `errors_on` with Bootstrap 4 is really meaningful at this point in time, with the final release of Bootstrap 5 imminent and me seemingly being the first one to even notic

[2021-04-06 14:33] thimo commented on #572
@lcreid I'd like to (finally) start working on this and assign this issue to myself. But I can't seem to find the option to do so. Any help on how I can do that? Ir maybe you can assign it to me? Same for the other issue I created: https://github.com/bootstrap-ruby/bootstrap_form/issues/573.

[2021-04-06 17:25] thimo opened #582 "Fix tests in bootstrap-5 branch"
Currently 8 tests fail in the bootstrap-5 branch:
[code]

I'll try to fix these.

[2021-04-06 19:12] thimo commented on #582
PR has been created: https://github.com/bootstrap-ruby/bootstrap_form/pull/583

[2021-04-06 19:23] thimo commented on #577
Let me know if you can use an extra set of hands. I'm using this gem in several projects and quite like it.

[2021-04-10 23:11] lcreid opened #585 "Replace `strip_heredoc` with `<<~`"
We've long since stopped supporting Ruby versions that _don't_ have `<<~`, so we can use it in all our tests now.

[2021-04-10 23:15] lcreid commented on #582
Fixed by #583

[2021-04-10 23:15] #582 closed

[2021-04-10 23:36] lcreid commented on #572
Hmmm. Maybe you're not allowed to assign yourself. The history of this gem is long, and none of us currently have full permissions on the repo, so maybe we're stuck with people not being able to assign themselves. Thanks for pointing that out.

[2021-04-11 21:16] lcreid commented on #573
Closed by #584 .

[2021-04-11 21:16] #573 closed

[2021-04-11 21:44] lcreid commented on #575
It appears that being a committer doesn't give permission to change the name of the default branch.

[2021-04-11 22:35] #572 closed

[2021-04-12 10:32] donv commented on #575
I think we should drop this issue.

[2021-04-12 14:53] lcreid commented on #585
Thanks, Thimo! I'd suggest you do this against `master`, then we can just merge or rebase `master` into `bootstrap-5` after merging to `master`.

(No one who's active in this repo now has permission to change the branch name. I've reached out to another person to see if they can give us a hand with some of the things we need to do with this repo, for which we don't have privileges.)

[2021-04-13 14:38] #585 closed

[2021-04-14 14:41] lcreid commented on #575
I'm interested in understanding why we would _not_want to do this?

[2021-04-14 14:42] lcreid commented on #569
Fixes by #571

[2021-04-14 14:42] #569 closed

[2021-04-14 21:39] QuAcK3RjAcK opened #589 "bootstrap_form not support 'min'-Attribute after validation fail"
bootstrap_form is not supporting HTML attribute after validation failed:

`= f.number_field :food_waste_main, label: "XXX", step: "0.01", min: @food_waste_min`

is generating correctly following HTML:

[code]

But after i submit form and validation failed it's not supporting attribute "min" anymore:

[code]

Using *bootstrap_form (4.5.0)*

[2021-04-16 15:00] lcreid commented on #589
Thanks for taking the time to report this problem. I'm sorry it's not working for you. We're a completely volunteer-supported gem, so if you feel up to creating a pull request (PR), please do so. If you plan to create a PR, please comment here so we don't duplicate effort.

Otherwise, we'll take a look at the problem in the near future.

Could you also please confirm which version of `bootstrap_fo

[2021-04-16 23:05] QuAcK3RjAcK commented on #589
@lcreid Thx for response. I mentioned version at Bottom: "Using bootstrap_form (4.5.0)"

Unfortunately i don't have time to look on my own, sry for that :( It's not a big banger, i fixed it by using validations for the value, but i wanted to report the issue.

Thx for the Gem and your efforts!

[2021-04-16 23:46] lcreid commented on #589
My bad. Sorry. I was rushing a response and didn't re-read the original report.

@QuAcK3RjAcK Would you mind posting the entire controller action here, or one that reproduces the problem? I have an idea about what the problem might be. Seeing the controller action would help me know sooner if I'm on the right path.

[2021-04-17 12:31] QuAcK3RjAcK commented on #589
No problem, here is my controller action. I simply use `valid?`and render the action if it fails.

[code]

[2021-04-18 16:29] lcreid commented on #575
Completed.

[2021-04-18 16:29] #575 closed

[2021-04-19 01:40] lcreid commented on #589
@QuAcK3RjAcK Is it possible you forgot to set an instance variable `@food_waste_min` in the `create` method/action? If I make a `create` method in a controller and render the new template on error, without `@food_waste_min` defined in the method, I get the behaviour that you reported.

Perhaps add: `@food_waste_min = 5` after the `else` and before the `render` in you `create` method. (I'm sure 5 i

[2021-04-19 20:18] QuAcK3RjAcK commented on #589
@lcreid wow big thx for this hint! That is the solution :)

Never think about that, but its clear. It renders the view without that value so its set to `nil`. And without value it doesn't generate the attribute.

[2021-04-19 20:18] #589 closed

[2021-05-06 08:16] thimo commented on #577
With Bootstrap 5 officially released we might want to prepare an official bootstrap_form 5 release. Is there anything I can do to help with this?

[2021-05-06 08:19] thimo commented on #578
CI seems to be fine now. Can we close this, or are there any open issues?

[2021-05-11 03:05] lcreid commented on #577
Thanks, Thimo. I'm sure there's something to do. Something that's been nagging me is that Bootstrap 5 no longer has a `form-group` mark-up. Part of me thinks we should remove the `form_group` method. But quite a bit of the gem's functionality was built around the assumption that most things had to be wrapped in a `form-group`. What are your thoughts on the subject?

[2021-05-11 03:20] lcreid commented on #578
What I'm worried about is that TravisCI seems to be moving away from unlimited free use: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing. So even if things are green now, we may need to move to something else. But perhaps we need another issue for that, and we can close this one? But I think you're right. It makes more sense to close this one and create a new issue for the Travis issue

[2021-05-11 03:20] #578 closed

[2021-05-11 03:22] lcreid opened #595 "Consider Moving Off of Travis CI"
TravisCI seems to be moving away from unlimited free use: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing. We should evaluate our options and move to CI that's going to be supported and free for the long term.

[2021-05-11 03:29] lcreid opened #596 "Bootstrap 5 Drops the Concept of Form Group"
Bootstrap 5 drops the concept of `form-group` (https://getbootstrap.com/docs/5.0/migration/#forms). Before we release the final Bootstrap 5 version of `bootstrap_form`, we should at least consider what to do about the `form_group` method in the gem.

This might be as simple as removing the method. There were some use cases that needed the method in Bootstrap 4 (I think maybe it was for groups of c

[2021-05-11 08:33] thimo commented on #596
My gut feeling on this change, without actually investing the time to technically understand the details, is not that the concept of `form_group` has been dropped, but that we just use different, generic class names to accomplish the same thing. So where before we would wrap a form row in `<div class="form_group">`, we now wrap the row in `<div class="mb-3">`. This could still lead to a code clean

[2021-05-11 08:36] thimo commented on #596
See for instance this example from the Bootstrap 5 documentation:

[code]

https://getbootstrap.com/docs/5.0/forms/form-control/

[2021-05-11 14:47] lcreid commented on #596
It sounds like we have a similar gut feeling.

The way that we handle the `form_group` method, along with how we wrap most of the other methods in a form group, is the stuff that I found hardest to understand when I first started working. And it's the part I still find hard to reason about now. So I've always hoped there would be a way to clean it up. Maybe this is the time. On the other hand, if

[2021-05-24 07:21] brandondrew opened #597 "select does not allow setting id attribute"
I can control the `id` of any of my fields except for the select fields:

[code]

generates

[code]

[2021-05-24 07:26] brandondrew opened #598 "select does not allow setting id attribute"
I can control the `id` of any of my fields except for the select fields:

[code]

generates

[code]

The `id` should be `10451152-job_title`.  Because of this, I'm getting accessibility errors.

[2021-05-24 07:27] #597 closed

[2021-05-24 07:28] brandondrew commented on #597
for some reason GitHub was not allowing me to edit this after it was errantly submitted by a keystroke meant to move the cursor

[2021-05-24 07:55] #598 closed

[2021-06-02 02:04] lcreid commented on #597
Odd.

[2021-06-02 02:04] lcreid commented on #597
Thanks for getting in touch with us. Did you resolve your issue?

[2021-07-11 13:09] viktorianer commented on #554
Unfortunately, it does not work:

[code]

I don't have a solution, but I understand that Webpacker cannot find this file. Because the file is out off scope of Webpacker.

[2021-07-14 10:28] MiselAdemi opened #599 "Extend field with block"
Currently my fields are being rendered like this:

[code]

I am wondering if there is options add extend this and add some custom element there, for example like this?:

[code]

[2021-08-02 14:11] olleolleolle commented on #595
@lcreid Hello, I just posted #600, and I am guessing the current answer in the repo is "use GitHub Actions".

[2021-08-03 21:30] walterdavis opened #601 "Where do I start hacking to allow this to work with honeypot-captcha?"
I'm looking here: https://github.com/curtis/honeypot-captcha/blob/master/lib/honeypot-captcha/form_tag_helper.rb at how honeypot-captcha resets the form_tag_html method. I have applied this gem to my application, and it does not appear to have any effect on a `bootstrap_form_with` form. Any suggestions how I can get these two on speaking terms?

[2021-08-03 21:33] #601 closed

[2021-08-04 03:51] lcreid commented on #601
@walterdavis did you figure out how to get these two to talk to each other?

[2021-08-04 13:09] walterdavis commented on #601
Yup. It was as simple as ensuring that honeypot-captcha was earlier in the Gemfile than bootstrap_form.

[2021-08-06 03:30] lcreid commented on #601
Thanks!

[2021-08-29 22:55] lcreid commented on #577
@thimo Are you still interested in moving this gem forward? I'm just not going to have the time to do anything more than more release the Bootstrap 5 version as-is, and I'd like to work with you on that if you're interested.

[2021-09-21 07:52] olleolleolle commented on #595
@lcreid Hi! This seems completed!

[2021-09-22 03:22] lcreid commented on #595
Thanks, @olleolleolle !

[2021-09-22 03:22] #595 closed

[2021-10-10 14:55] o-t-w commented on #553
The Bootstrap 5 stable release was back in May. Is there any progress on this? Bootstrap 5 looks a lot better and I am desperate to upgrade.

[2021-10-10 15:02] o-t-w commented on #577
Seeing as you are talking about releasing v5 "as-is", what is preventing you from the release, seeing as "as is" makes it sound like there is no more to do?

[2021-10-10 19:46] thimo commented on #596
At the time I did dive into this issue, but forgot to respond here. The `form_group` method is basically at the base of what this gem does. Removing it would remove all ability to render form fields and the additional Bootstrap html around it. We could rename it to, if we follow the Bootstrap class naming, `mb_3`, but that doesn’t make sense. We could consider refactoring the code base, but I’m no

[2021-10-10 19:52] thimo commented on #553
A 5.0 release would be quite nice, but in the meantime you can use the bootstrap-5 branch as documented here: https://github.com/bootstrap-ruby/bootstrap_form/tree/bootstrap-5#installation

[2021-10-14 12:59] CharlieWinkwaves opened #604 "If an input is required then the input does nog always get the required element"
For example in the demo application email is a required field.  validates :email, presence: true

`<div class="form-group row"><label class="col-form-label col-sm-2 required" for="user_email">Email address</label><div class="col-sm-10"><input placeholder="Enter Email" class="form-control" type="email" name="user[email]" id="user_email"><small class="form-text text-muted">We'll never share your ema

[2021-10-27 01:48] #604 closed, assigned to nobody

[2021-11-02 14:53] CharlieWinkwaves opened #607 "Extra spaces added in tests"
In commit 92a46468b4612866c8e5c3afe0108d7d3d47e5f1 there were spaces added in a few tests which were not needed.

[2021-11-03 01:46] #607 closed

[2021-11-03 01:48] lcreid opened #609 "Test Fail on Edge AKA Rails 7"
Tests are currently failing on edge Rails, AKA Rail 7. If anyone is interested in working on a fix, please comment below.

Please branch from and submit pull requests to the ~`bootstrap-5`~ `main` branch. Thanks in advance.

[2021-11-15 08:27] thimo commented on #609
Would love to take a look. With the release of 5.0 (congrats!) the branch should be against `main`, right?

[2021-11-16 03:57] lcreid commented on #609
Yep. Thanks. I'll update the original comment. I'd love to see what you find.

[2021-11-17 10:47] thimo commented on #609
`Rails.application.config.assets` as referenced in `demo/config/initializers/assets.rb` is no longer is available in Rails 7.0 main branch, probably because of recent Rails asset pipeline changes. Am going to figure out what the correct solution is here, staying backwards compatible for Rails 6.1, etc..

[2021-11-22 15:26] #609 closed

[2021-11-22 15:27] lcreid opened #614 "Investigate Rails 7 Tests/Config Needing `sassc`"
We had to add `sassc` to the `test` group in the `Gemfile`, in order to get tests to run in Rails 7. We're not sure why. It would be nice to understand what the change was that caused this.

[2021-12-28 11:00] donv commented on #577
Version 5.0.0. has been released, so we will move forward that way.  I would like to allow overriding the wrapper_class, but that comes in a separate PR.

[2021-12-28 11:00] #577 closed

[2021-12-28 12:32] donv commented on #614
Sprockets is no longer part of Rails 7 by default, so any config for `assets` will give error.  Removing both `sassc-rails` and `demo/config/initializers/assets.rb` solves the test error.

[2021-12-28 12:43] #614 closed

[2022-01-03 11:52] elbarto132 opened #621 "text_field options hide_label and label_as_placeholder not working"
The options hide_label and label_as_placeholder on a text field aren't working.
Setting these options to true adds a class sr-only to the label, but it looks like this class doesn't exist in Bootstrap 5 anymore.

A workaround is to add this CSS:
.sr-only {
  display: none;
}

[2022-01-03 17:12] lcreid commented on #621
Thanks for reporting this, and sorry you ran into this problem. I believe this is fixed by #615 . You can use the gem from GitHub until we do the next release. Change your `Gemfile` for `bootstrap_form` to:

[code]

and then do a `bundle update`.

Please let us know if that fixes the issue. Thanks again for taking the time to report this issue.

[2022-01-04 03:58] elbarto132 commented on #621
Using
`gem "bootstrap_form", git: "https://github.com/bootstrap-ruby/bootstrap_form/"`
throws a git error, but
`gem "bootstrap_form", git: "https://github.com/bootstrap-ruby/bootstrap_form/", branch: "main"`
works and it fixes the problem.

[2022-01-05 04:13] lcreid commented on #621
Sorry. I thought it defaulted to `branch: "main"` but obviously it doesn't. Thanks for letting me know. I'll close this. If you think I shouldn't, please re-open it.

[2022-01-05 04:13] #621 closed

[2022-01-10 02:57] lcreid opened #625 "Danger via GitHub Actions Fails when Pull Request is from a Fork"
It appears that Danger can't find the commit from the pull request when the pull request is from a fork. This causes a lint failure for many pull requests. See the discussion at: https://github.com/danger/danger/issues/1103.

If anyone has a solution, please submit a PR. Otherwise, this issue will serve to document the issue until we find something to replace Danger.

[2022-01-10 15:42] rathboma commented on #621
A workaround for those wanting to use official releases (using scss):

[code]

[2022-01-12 13:18] a5-stable commented on #215
Hi, Is there any progress on this?
I'm in trouble with unwanted hidden input.

[2022-01-14 12:32] donv commented on #215
I looked at the PR, and it looks good to me.  However there is a problem with the "danger" linting, and I am not familiar with it.

[2022-01-15 07:45] donv commented on #625
Tried to fix this in #628 .  Try to verify with #627 .

[2022-01-15 17:23] donv commented on #625
So, the original problem was solved, but a new problem with dasnger has arisen.  Seems like the access to create an issue comment is missing:

[code]

Anybody got an idea how to solve it?

[2022-01-16 08:44] donv commented on #625
@lcreid (or othe owner) We need an access token to enable merging fork PRs.

It must be added without GitHub noticing it:  https://github.com/danger/danger/blob/43000055d824ca05a8c7ab63366d10e3d5c21529/.github/workflows/CI.yml#L28

[2022-01-16 22:10] lcreid commented on #625
I had hoped the original solution to get Danger working again didn't require the access token. I looked into this at one time, but didn't have time to investigate why it didn't work. And frankly I wasn't too happy about the security implications, or the long-term sustainability of the solution.

I'm totally open to a solution other than Danger, if anyone has experience with one.

[2022-01-16 22:14] donv commented on #625
I agree that Danger seems britle on GH Actions.  I'll do some research on alternatives.  What we want is a check for Changelog entry and tests, mostly, right?

[2022-01-16 22:21] lcreid commented on #625
That's right. I believe Danger also checks to see what files are modified, and if not tests are modified/added, it asks that tests be added.

[2022-02-22 21:20] michaelbaudino commented on #553
Shouldn't this be closed, since it has been done in #611 and released as [5.0.0](https://github.com/bootstrap-ruby/bootstrap_form/releases/tag/v5.0.0)?

[2022-02-23 04:20] lcreid commented on #553
Thanks, @michaelbaudino . My bad. We appreciate the feedback.

[2022-02-23 04:20] #553 closed

[2022-02-24 18:45] KDGundermann commented on #508
so now `https://github.com/bootstrap-ruby/bootstrap_form/blob/c07c48262fe6fc2a07717a5b6cf5d6e997c42d75/lib/bootstrap_form.rb#L4` will always require 'actiontext' even when I have NO actiontext in my application ??

[2022-04-21 12:41] #599 closed

[2022-04-21 12:43] donv commented on #596
I think this has been resolved.  We kept the form_group concept and use the .mb-3 class as default.

[2022-04-21 12:43] #596 closed

[2022-04-21 12:49] donv commented on #579
Looks like this was resolved in #580 .

[2022-04-21 12:49] #579 closed

[2022-04-21 12:51] donv commented on #568
I think this was resolved for the 5.0.0. release.

[2022-04-21 12:51] #568 closed

[2022-04-21 12:55] donv commented on #556
Hi @rileytg !

Are you still interrested in this?  Is so, I will take a look.

Maybe the field should follow the same pattern as the other fields and have a label to the left and the switch left aligned in the rioght column?

[2022-04-29 10:04] #546 closed

[2022-05-13 01:13] lcreid commented on #568
There's unnecessary code, I believe, but at this point we're so far down the Bootstrap 5 road that I think it's appropriate to close this issue.

[2022-05-23 11:26] joeroe opened #642 "Floating labels don't work inside input groups (prepend/append)"
Floating labels don't display correctly if they're used with an input group, i.e. if `prepend:` or `append:` are set.

[code]

Generates:

[code]

To work, I think there should only be one wrapper element, and the label should be placed alongside the input, i.e.:

[code]

[2022-06-01 01:53] #428 closed

[2022-06-12 16:45] alec-c4 opened #645 "scaffold template and more"
Hey!
I'd like to propose several improvements for your gem:
1. Please add form template generator for `lib/templates/erb/scaffold/_form.html.erb` to automatically generate forms with `bootstrap_form_for`
2. Add support for rails7 esbuild. Currently it is not possible to import your css.
3. please create generator for views for devise with i18n support and powered by bootstrap_form_for :)

[2022-07-02 20:19] lcreid commented on #642
@UweKubosch @thimo This is a really interesting find. It makes me think that we've put the `input-group` class in the wrong place up until now. I'm going to put together a PR that I believe will fix this, but I suspect it's going to change a lot of test cases. If you have a chance, take a look at this issue and what it would take to fix it. Maybe you'll find something better than what I'm going to

[2022-07-05 07:55] thimo commented on #642
`input-group` only has 41 occurrences in the project, of which 24 in 2 specs and 12 in the README. So I think it's not going to be too much of a hassle to change. Please let me know if there's something that I can do to help.

[2022-07-06 02:52] lcreid commented on #642
I wonder about changing the HTML. As I read it, we need to move the `input-group` to the `<div class='mb-3'>` that's more or less the Bootstrap 5 equivalent of the Bootstrap 4 `form-group`. Do you think we would cause too much pain if we change the HTML? I think it's justifiable that we're fixing a bug and sorry if you relied on our mark-up, but I'm interested in what others think.

At the very le

[2022-07-06 07:26] thimo commented on #642
Ah yes, didn't consider possibly breaking existing apps. Can we include this as a "breaking change" in the next minor release, probably 5.2? Then document why and what the impact is. I would think we at most would break a bit of CSS, but that's a dangerous assumption. Still I think we should fix this.

[2022-07-07 04:27] lcreid commented on #642
Yes, I agree that's it's actually "broken" and needs to be fixed. I guess that's the nature of CSS that when we fix something, someone might have written some CSS that won't work after our fix. But so be it. Thanks for your input!

[2022-08-02 02:56] lcreid opened #653 "Possible Unsafe String Interpolation"
While refactoring for #642 , `BootstrapFormGroupTest#test_append_and_prepend_button` started outputting escaped strings instead of HTML. But the test hadn't changed. So the question is, did the code always allow unsafe strings to be passed in and be rendered without being checked for HTML-safeness?

[2022-08-02 05:32] shivam091 commented on #642
Hello,

Is it going to be changed accordigly to support input groups inside floating labels ?

Thanks

[2022-08-02 23:31] lcreid commented on #642
Yes, @shivam091 it's being worked on. It requires some non-trivial changes to the way the code is organized internally. If you would like to try putting together a PR to fix this, let us know. Otherwise, we appreciate your patience.

[2022-08-03 01:47] shivam091 commented on #642
I have tried it in my way by cloning the gem.
Few changes I have done are as follows which gives me desired output but It's achived by editing entire structure of the code which you added for rendering the field.

Let's take example for password_field

[code]

[code]

[code]

Removed unused `form_group_content(label, help_text, options, &block)` from `form_group.rb`

Refer SS:
![Screenshot from 20

[2022-08-03 01:51] shivam091 commented on #642
The above are major tweaks I have added in for getting the output but it might have some other breaks which I need to check and fix @lcreid

[2022-08-03 14:33] lcreid commented on #642
Thanks for this. You're in the right area all right. If you'd like to submit a pull request, I can review it. Check out our [Contributing](https://github.com/bootstrap-ruby/bootstrap_form/blob/main/CONTRIBUTING.md) document. I have made some progress but I won't be able to finish anything before the weekend.

[2022-08-05 13:13] medir commented on #554
I'm not sure if it can be related to this problem but I had a similar error using rails 7 and esbuild and I fixed it by doing the following import adding file extension ".css" into the file "project/app/assets/stylesheets/application.scss":

`@import "rails_bootstrap_forms.css";`

[2022-08-05 15:39] shivam091 commented on #642
Yes I will try. I am not having idea on writing test cases therfore I may also require some amount of time. I try my best to submit the PR.

Thank you

[2022-08-08 01:48] lcreid commented on #642
Thanks for giving this a go, @shivam091 If you're struggling to get all the tests working, I have something that I think is working. The existing code didn't make this change easy. If you want to continue with the PR, I suggest that you create a draft with just the tests, so we can agree on what the new HTML should look like.

[2022-08-10 02:55] shivam091 commented on #642
Yes @lcreid, I check it and try to submit tests asap.

[2022-08-10 03:02] shivam091 commented on #642
[code]
This markup is generated with my changes which I thing perfext according to Bootstrap 5.2 upgrades.

NOTE - I considered upgrading bootstrap to 5.2 because styles required for input groups and floating labels for a element was missing in 5.0 5.1 versions.

[2022-08-10 03:21] lcreid commented on #642
I think that HTML will work. However, be sure to try it with the `prepend` and `append` options, too.

This JSFiddle shows the difference between the OP's solution and yours: https://jsfiddle.net/qhem392r/4/.

Nice find about the versions. We'll may have to change the installation instructions so people use the right version of Bootstrap.

[2022-08-25 22:49] suketk opened #655 "Error messages don't display on form_group"
I have a set of radio buttons in my form group that don't show error messages.

When there is an error, the radio buttons and respective labels turn red, but there's no message.

I can confirm there's an error because the error summary prints it, but it's not displayed by the field.

If I use errors_on, the .invalid-feedback div appears in the DOM but it's hidden because there's no CSS rule (in Bo

[2022-09-01 14:52] no1-knows opened #656 "inline validation for fields_for"
Hello!  In this code, title and content fields show inline errors properly but staple_food and main_dish doesn't.
Is there a mistake?
[code]

[2022-10-01 21:05] lcreid opened #661 "`join` May Cause Unwanted HTML Escapes"
`Array#join` always produces a `String`, so some uses of `join` in our code may be causing HTML-safe strings (e.g. error messages) to become "unsafe" and then they'll get escaped.

One place to investigate: https://github.com/bootstrap-ruby/bootstrap_form/blob/57a5be70f553d9ebf084fa39fa718e5dafeb38d3/lib/bootstrap_form/components/validation.rb#L74

_May be_ related to #653?

[2022-10-27 09:40] CharlieWinkwaves opened #663 "Set required and aria on input when input is required"
I fixed this before in https://github.com/bootstrap-ruby/bootstrap_form/pull/605 and https://github.com/bootstrap-ruby/bootstrap_form/pull/606 for both bootstrap 4 and 5 but somehow it got overwritten by a merge??

So here are the changes again

[2022-10-27 09:47] donv commented on #663
@CharlieWinkwaves Thank you! Where are the changes?

[2022-11-14 16:21] #663 closed

[2022-11-24 03:10] lcreid commented on #656
Hi. Thanks for bringing this to our attention. Would you mind posting the HTML that this generates, and/or a screen shot of the rendered page? Thanks in advance.

[2022-11-24 03:20] lcreid commented on #645
Thanks for the suggestions. I think they're great ideas. For your last point, take a look at https://github.com/lcreid/devise-bootstrap-form.

I'd be happy to consider pull requests for either of the first two suggestions. Let me know if you're interested in working on them and I'll provide whatever support I'm able.